{% extends "blog/base.html" %}
{% block content %}
<div class="about"><br><br>
 <h1 style="font-family: 'Noto Serif JP', serif; margin-right: 150px;margin-left: 200px; font-weight: 700;">About Page</h1>
 <br><br>
   <div class="content">
    <p style="font-family: 'Noto Serif JP', serif; font-weight: 400; margin-left: 200px;margin-right: 200px;"> Our mission is to democratize publishing and blogging as much as possible. Your ideas and thoughts can be put to life here and trust me, its always worth it! Because when you have the freedom to create, express yourself, and earn money online, the impossible becomes business as usual.</p>
    <p style="font-family: 'Noto Serif JP', serif; font-weight: 400; margin-left: 200px;margin-right: 200px;">Whether it’s a blog, store, portfolio, or something entirely different, you have the freedom to create a site that fits you, and own all of your content and data too. Ideas don’t belong behind high walls. Blogs, articles and your posts shouldn’t either. We’re here to help you express yourself.</p>
    <p style="font-family: 'Noto Serif JP', serif; font-weight: 400; margin-left: 200px;margin-right: 200px;">Customer service isn’t something we offer. It’s who we are. We call it Happiness—real support delivered by real human beings.</p>
   </div>
</div>
{% endblock content %}