{% extends "blog/base.html" %}
{% block content %}
<div class="col-md-11">
  <br><br>
    <h1 class="mb-3" style="font-family: 'Noto Serif JP', serif;">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}" style="font-family: 'Noto Serif JP', serif;">{{ post.author }}</a>
              <small class="text-muted" style="font-family: 'Noto Serif JP', serif; float: right;">{{ post.date_posted|date:"F d, Y" }}</small>
            </div><br>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}" style="font-family: 'Noto Serif JP', serif; font-weight: 700;">{{ post.title }}</a></h2><br>
            <p class="article-content" style="font-family: 'Noto Serif JP', serif; font-weight: 400;">{{ post.content }}</p>
            <hr>
            <a target="_blank" href="https://api.whatsapp.com/send?text={{ post.title }}%20{{ post.content }}" title="Share to whatsapp"><img src="https://icons.iconarchive.com/icons/tinylab/android-lollipop-apps/128/Whatsapp-icon.png" height="26px" alt="whatsapp" width="26px"></a>&nbsp;&nbsp;
            <a href="https://www.facebook.com/sharer.php?u=https://myfirstdraft.herokuapp.com/{% url 'post-detail' post.id %}" target="_blank" title="Share to Facebook"><img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/128/social-facebook-button-blue-icon.png" alt="facebook" height="20px" width="20px"></a>&nbsp;&nbsp;
            <a href="https://twitter.com/share?url=https://myfirstdraft.herokuapp.com/{% url 'post-detail' post.id %}&text={{ post.title }}&via=[via]&hashtags=[hashtags]" target="_blank" title="Share to twitter"><img src="https://icons.iconarchive.com/icons/xenatt/minimalism/128/App-Twitter-icon.png" alt="twitter" height="24px" width="24px"></a>&nbsp;&nbsp;
            <a href="https://pinterest.com/pin/create/bookmarklet/?media={{ post.author.profile.image.url }}&url=https://myfirstdraft.herokuapp.com/{% url 'post-detail' post.id %}&is_video=[is_video]&description={{ post.title }}" target="_blank" title="Share to Pinterest"><img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/128/Pinterest-icon.png" height="21px" width="21px" alt="pinterest"></a>&nbsp;&nbsp;
            <a href="https://www.linkedin.com/shareArticle?url=https://myfirstdraft.herokuapp.com/{% url 'post-detail' post.id %}&title={{ post.title }}" target="_blank" title="Share to Linkedin"><img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/128/Linkedin-icon.png" height="21px" width="21px" alt="linkedin"></a>
            <a href="mailto:{{ post.author.email }}" style="float: right;" title="Mail to Author"><img src="https://icons.iconarchive.com/icons/zerode/plump/128/Mail-icon.png" height="21px" width="21px" alt="Mail"></a>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
    <div class="text-center">

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
</div>
    {% endif %}
{% endblock content %}
