{% extends "blog/base.html" %}
{% block headtag %}
    <head>
        <title>Verify Email</title>
    </head>
{% endblock %}
{% block content %}
    <div class="=content-section p-60 text-center">
        <br><br><br>
        <h3 style="font-family: 'Noto Serif JP', serif; font-weight: 600; margin-left: 100px;">An Authentication Email has been sent !</h3><br>
        <h5 style="font-family: 'Noto Serif JP', serif; font-weight: 400; margin-left: 100px;">Thanks for joining First Draft &#128521;, you are just one step away from creating your account! Please click on the link in the email to verify your account.</h5>
    </div>

{% endblock content %}
