{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-8">
    <br><br><br>
    <div class="content-section" style="background-color: rgb(240, 224, 180);">
        <form method="POST" style="margin: auto;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center; text-transform: uppercase;">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
    <br><br><br>
</div>
{% endblock content %}